.login {
    width: 100%;
    padding-top: 30px;
}

.login h2 {
    margin-top: 0;
}

.login-field {
    margin-bottom: 20px;
}

.textfield, #error, #btn {
    width: 80%;
}

#btn {
    height: 40px;
    margin-top: 20px;
}

.login #error {
    color: red;
    text-align: left;
    font-size: .8rem;
    font-weight: bold;
    margin-bottom: 20px;
}