.create-account {
    width: 100%;
    padding: 30px;
}

.create-account h2 {
    margin-top: 0;
}

#btn-create-account, .textfield {
    width: 80%;
}

#btn-create-account {
    height: 40px;
}

.create-account-field {
    margin-bottom: 20px;
}