.create-account {
    width: 100%;
    padding: 30px;
    
    box-sizing: border-box;
}

.create-account h2 {
    margin-top: 0;
}

#btn-create-account, .textfield {
    width: 80%;
    box-sizing: border-box;
}

#btn-create-account {
    width: 50%;
    height: 40px;
    box-sizing: border-box;
}

.create-account-field {
    margin-bottom: 20px;
    box-sizing: border-box;
}

#error {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: left;
    margin-bottom: 20px;

    box-sizing: border-box;
}

#error p {
    width: 100%;


    color: rgb(241, 124, 124);

}