.task {
    width: 100px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    overflow:hidden;

    box-sizing: border-box;
}

.task-header p {
    width: 100px;
    overflow: hidden;
}

.task-content {
    width: 100%;

    box-sizing: border-box;
}