.kanban {
    width: 100%;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: center;

    align-items: left;
    text-align: left;
    text-align: left;

    box-sizing: border-box;
}

.kanban-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: top;

    padding: 50px 19%;
    
    box-sizing: border-box;

    background-color: white;
    
    box-shadow: 2px .8rem 1rem rgba(0, 0, 0, .025);
}

.kanban-title {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 6px;
}

.kanban-header h2, p {
    margin: 0;
    padding: 5px;
}

.kanban-header #description, #creator {
    color: rgb(99, 99, 99);
}

.kanban-settings {
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: top;

    margin-top: 6px;

    gap: 10px;
}

.kanban-settings .icon {
    width: 35px;
    height: 35px;
    padding: 8px;
}

.lists {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    
    gap: 20px;
    padding: 20px 19%;
    
    box-sizing: border-box;
    
    background-color: rgb(245, 245, 245);
    
    box-shadow: 2px .8rem 1rem rgba(0, 0, 0, .025);
}